<div class="bubble left-bubble">
    <div class="bubble-direction"></div>

    <div class="text">
        <p>Credo che tu sia... 🤔 
               
            <% //key of max item in array
                let maxAverage = average
                    .reduce((iMax, x, i, arr) => x > arr[iMax] ? i : iMax, 0);
            %>     

            <b><%= mappedUsers[maxAverage] %>!</b>
        </p>

        <b>Predizione su messaggio singolo:</b> <br>
        <% let maxIndex = single.reduce((iMax, x, i, arr) => x > arr[iMax] ? i : iMax, 0);%>

        <table>
            <tbody>
                <% single.forEach((element, index) => { %>
                  <tr>
                    <td><%= mappedUsers[index] %>:</td>

                    <td>
                        <meter class="<%= index === maxIndex ? 'highestPrediction' : '' %>" value="<%= element %>" min="0" max="1"></meter>
                    </td>

                    <td><%= (element * 100).toFixed(2) %>%</td>
                  </tr>
                <% }) %>
            </tbody>
        </table>
        
        <% if(typeof responseText !== "undefined") { %>
            <%= responseText %>
        <% } %>
    </div>
</div>